{% extends 'base.html' %}
{% block title %} Blog page {% endblock title%}
{% block body %}
<div class="container">

    <div class="container mt-3">
        <div class="row justify-content-center">
            {%if error %}
            <div class="alert alert-danger" role="alert">
            {{msg}}
            </div>
            {% endif %}
          <div class="col-md-6">
            <form class="input-group" method="get" action="/blog/">
               
              <input type="text" class="form-control" placeholder="Search..." name="blog_title">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>



    {% for post in blog_posts %}
        <div>
            <h2 class="main">{{ post.title }}</h2>
            <p><strong>Author:</strong> {{ post.author.user.username }}</p>
            <p><strong>Publication Date:</strong> {{ post.publication_date }}</p>
            <p>{{ post.content|truncatewords:50 |safe }}</p>
             <a href="/blog/{{post.id}}">Read More</a>
            <p><strong>Categories:</strong> {{ post.categories.all|join:", " }}</p>
            <hr>
        </div>
        {%empty%}
        <h1>No Blog Found!</h1>
    {% endfor %}
</div>

<div class="pagination container justify-content-center mb-4">
    <span class="step-links">
        {% if blog_posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ blog_posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blog_posts.number }} of {{ blog_posts.paginator.num_pages }}.
        </span>

        {% if blog_posts.has_next %}
            <a href="?page={{ blog_posts.next_page_number }}">next</a>
            <a href="?page={{ blog_posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock body %}

